
  @import url("https://fonts.googleapis.com/css?family=Sofia");




.Home {

   padding: 40px; 
font-family: sans-serif;
color: #333;
}

.home_container {
  max-width: 700px;
  height: 65vh;
  margin: 0 auto;
background-color: #f8f8f8;
}
.subheading-welcome{
 padding-bottom: 15px;
 
  color: #333;
}



.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
  align-content: space-around;
  font-size: large;
  font-family: "Sofia", sans-serif;
  font-size: 24px;
  text-shadow: 3px 3px 3px #ababab;
}

.subheading {
padding-bottom: 5px;
}



.great {
  font-size: 18px;
  color: #555;
}

.container2 {
  display: flex;
  justify-content: center;
}

.hero-shape {
  width: 200px;
  height: 200px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-animation {
  animation-name: rotate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Styles */

@media (max-width: 768px) {
  .home_container {
    max-width: 350px;
    margin: 0 auto;
    background-color: #f8f8f8;
  }
  .subheading {
    font-size: medium;

  }

  
  .great {
    font-size: medium;
  }

  .hero-shape {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .Home {
height: auto;
     padding: 13px; 
  
  }
  
  .home_container {
    font-size: 20px;
    height: auto;
    max-width: 350px;
    margin: 0 auto;
    background-color: #f8f8f8;
  }
  .subheading {
    font-size: 18px;
  }



  .great {
    font-size: 14px;
  }

  .hero-shape {
    width: 100px;
    height: 100px;
  }
}
