/* .About {
  
  padding-top: 0vh;
  padding-bottom: 5vh;
} */

.about-container {
  display: grid;
  justify-content: center;
}

/* .about .divider{
  display: flex;
  justify-content: flex-start;
} */

img,
svg {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  position: relative;
  text-align: left;
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
}

.about-image img {
  /* display:flex;
  justify-content: center;
  text-align: center; */
}

.divider {
  width: 20%;
  position: relative;
  border-top: 5px solid #1c2b33;
}

.about,
.div2 {
  width: 40%;
  padding: 0;
  margin: 0;
}

/* two liner intro */
.about-intro {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Roboto", sans-serif;

  font-size: 20px;
  font-weight: 400;
  line-height: 1.625em;
  text-align: left;
}

.about-details {
  margin-top: 1.5rem;
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Roboto", sans-serif;

  font-size: 15px;
  font-weight: 400;
  line-height: 1.625em;
}

.about-details-list {
  display: flex;
}

.about-title {
  font-size: 16px;
  font-weight: 600;
  width: 130px;
}

.about-body {
  width: calc(100% - 130px);
}
@media screen and (min-width: 960px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 5%;
  padding-bottom: 10%;
  }
  .about-image {
   width: 60%;
    height: auto;
   margin: 70px;
   padding-left: 70px;
  }
  .about-section {
    padding-right: 20%;
    
  }
  .about-intro {
    display: block;
    text-align: left;
    padding-top: 3%;
}
  
}
