:root {
  --min-height: 100vh;
  --top-gap: 3.25vw;
  --right-gap: 6.51vw;
  --left-gap: 6.51vw;

  --sub-heading: #222222;
  --main-font: #222222;
  /* --special-font: #e45447; */
  --backface-visibility: visible;
}

/* h2 {
  color: #1c2b33;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
  font-family: "Cormorant", serif;
} */
.container2{
  display: flex;
  justify-content: center;
}
.home_container {
  display: grid;
  height: auto;
  padding-bottom: 5vh; 
  overflow: hidden;
}

/* when on desktop or larger screens */
@media screen and (min-width: 960px) {
  .home_container {
    grid-template-columns: 50% 50%;
    height: auto;
    padding-bottom: 24vh;
    padding-top: 11.5vh;
    padding-left: 10%;
  }
 
  h2 {
    color: #1c2b33;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    font-family: "Cormorant", serif;
  }
  .subheading {
  font-family: "lastica";
  font-weight: 700;
  font-size: 16px;
  color: #1c2b33;
  display: block;
  
}
 
} 
.subheading {
  font-family: "lastica";
  font-weight: 700;
  font-size: 16px;
  color: #1c2b33;
  
}



.great {
  font-weight: 700;
}

.header {
  padding-top: 10vh;
  /* padding-bottom: var(--top-gap);
  padding-right: var(--right-gap); */
  justify-content: center;
}

.image {
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .image {
    /* padding-left: 200px; */
  }

  .subheading {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;

    letter-spacing: 4px;
  }
}


.hero-shape custom-animation{
  display: flex;
  justify-content: center;
}


.myName {
  --backface-visibility: var(--left-gap);

  font-family: "lastica";

  font-weight: 700;
  font-size: 36px;
  color: #1c2b33;
  display: block;
}

/* animated text */

/* two liner into */
.introduction {
  margin-bottom: 45px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "lastica";
  opacity: 0.8;
  font-weight: 200;
  font-size: 18px;
}
/* contact me button */
/* .contact-me {
  background: var(--sub-heading);
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 0;
  padding: 30px 44px;
  border-radius: 60px;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
} */

/* animated circle */
.hero-shape {
  /* position: absolute; */
  top: 13%;
  left: 51%;
}

.custom-animation {
  --backface-visibility: hidden;

  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: jumping;
  animation-delay: 1s;
  transition: all 7s ease 2s;
  --user-select: none;
}

.hero-shape custom-animation {
  display: flex;
}

@keyframes jumping {
  0% {
    transform: translateY(10) translateX(0) rotate(0) scale(1);
    opacity: 0.9;
  }

  100% {
    transform: translateY(55px) translateX(0px) rotate(0) scale(0.95);
    opacity: 0;
  }
}
