/* .container-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */

.light {
  background-color: #fff;
  color: #333;
}

.dark {
  background-color: #333;
  color: #fff;
}

.toggle-btn {
   padding: 10px 20px; 
  /* border: none; */
   background-color: #333; 
   color: #fff; 
  cursor: pointer;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.text {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 500px;
  text-align: center;
}
