.container-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 700px;
  height: fit-content;
  background-color: #f8f8f8;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 70%;
}
.About{
  height: 76vh;
  display: flex;
  justify-content: center;
}

.about-section {
  display: flex;
  justify-content: center;
}

.about-image img {
padding-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.animate__animated {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* Media queries for responsive design */

.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  display: flex; 
  flex-direction: column;
  padding-right: 20px;
  /* width: 70%; */
  margin: 0;
}

@media (max-width: 768px) {
  .container-about {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 350px;
  }

  .about-section {
    grid-column: 1 / 2;
  }
  .divider-about{
    width: 100px;
  }
}
